In [1]:
import pandas as pd

In [25]:
df1 = pd.read_csv(r'E:\ML Learning\PROJECT_SENTIMENT_ANALYSIS_WHITE_HOUSE\STEP_4_CORRELATION\data_files\roberta_scored_briefings.csv')
df2 = pd.read_csv(r'E:\ML Learning\PROJECT_SENTIMENT_ANALYSIS_WHITE_HOUSE\STEP_4_CORRELATION\data_files\approvalRating.csv')

In [26]:
df2

    approving  disapproving    end_date start_date  unsure
0          38            58   6/23/2024   06-03-24       4
1          39            56   5/23/2024   05-01-24       5
2          38            58   4/22/2024   04-01-24       4
3          40            55   3/20/2024   03-01-24       5
4          38            59   2/20/2024   02-01-24       3
5          41            54   1/22/2024   01-02-24       5
6          39            59  12/20/2023  12/1/2023       2
7          37            59  11/20/2023   11-01-23       4
8          37            59  10/23/2023   10-02-23       4
9          41            58   9/23/2023   09-01-23       1
10         42            53   8/23/2023   08-01-23       5
11         40            55   7/27/2023   07-03-23       4
12         43            54   6/22/2023   06-01-23       3
13         39            57   5/24/2023   05-01-23       5
14         37            59   4/25/2023   04-03-23       4
15         40            56   3/23/2023   03-01-23       4
16         42            54   2/23/2023   02-01-23       5
17         41            54   1/22/2023   01-02-23       4
18         40            55    12-02-22   11-09-22       5
19         40            56  10/20/2022   10-03-22       4
20         42            56   9/16/2022   09-01-22       2
21         44            53   8/23/2022   08-01-22       3
22         38            59   7/26/2022   07-05-22       3
23         41            57   6/20/2022   06-01-22       3
24         41            54   5/22/2022   05-02-22       5
25         41            56   4/19/2022   04-01-22       3
26         42            54   3/18/2022   03-01-22       4
27         41            55   2/17/2022   02-01-22       4
28         40            56   1/16/2022   01-03-22       4
29         43            51  12/16/2021   12-01-21       6
30         42            55  11/16/2021   11-01-21       3
31         42            52  10/19/2021   10-01-21       6
32         43            55   9/17/2021   09-01-21       2
33         49            48   8/17/2021   08-02-21       3
34         50            45   7/21/2021   07-06-21       5
35         56            42   6/18/2021   06-01-21       2
36         54            40   5/18/2021   05-03-21       6
37         57            40   4/21/2021   04-01-21       3
38         54            42   3/15/2021   03-01-21       4
39         56            40   2/18/2021   02-03-21       4
40         57            37    02-02-21    1/21/21       6